
:root{
    --cor-preta: #000000;
    --cor-cinza: #88888A;
    --cor-vermelha: #D13E46;
    --cor-cabecalho: #E7E7E9;
    --cor-branca: #FFFFFF;
}


.cabecalho{
    background-color: var(--cor-cabecalho);
    padding: 0;
}

.container-cabecalho{
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-align: center;
    margin: 0 4em;

    
}

.container-lista{
    padding-top: 0.5em;
    gap: 1em;
}

.container-imagem-logo{
    margin-left: 2em;
    padding-top: 0.5em;
}

.container-lista{
    display: flex;
    justify-content: end;
    gap: 3em;
}

.container-lista-link{
    text-decoration: none;
    margin: 1em;
    font-family: 'Roboto';
    color: var(--cor-cinza);
    font-weight: 800;

}

.lista-link{
    padding: 0.3em 0 0 0;
}

.lista-link-borda{
    background-color: var(--cor-cinza);
    color: var(--cor-branca);
    border-radius: 5px;
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding: 0.3em;
}

.banner{
    background-color: var(--cor-cabecalho);
    padding: 1.5em;
    text-align: center;
    
}


.banner-titulo{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 3.5em;
    padding-top: 0.5em;
    margin: 0em 5em;

}   

.banner-descricao{
    font-family: 'Roboto';
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 1em;
    font-size: 1.5em;
}

.banner-link{
    text-decoration: none;
    font-family:'Roboto';
    background-color: var(--cor-vermelha);
    color: var(--cor-branca) ;
    border-radius: 0.5em;
    padding: 0.5em 1.5em;
    
}

.section-um-subtitulo{
    font-family: 'Roboto';
    font-size: 3em;
    font-weight: 600;
    
    
}

.section-um-descricao{
    font-family: 'Poppins';
    font-size: 2em;
    color: var(--cor-cinza);
    font-weight: 800;
}

.section-um-paragrafo{
    font-family: 'Poppins';
    color:var(--cor-cinza) ;
    font-weight: 500;
    font-size: 1.2em;
    padding-top: 0.5em;
    margin-right: 4em;
    
}


.section-um-lorem{
    font-family: 'roboto';
    text-align: center;
    padding-bottom: 2em;
    color: var(--cor-cinza);
    font-size: 1.1em;
    
    
}

.section-subtitulo-secundario{
    font-family: 'Roboto';
    font-size: 3em;
    font-weight: 600;
    margin: 0.5em 0 ;
    text-align: center;
}

.section-paragrafo-secundario{
    font-family: 'Poppins';
    color:var(--cor-cinza) ;
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
    margin: 0 3em;
}

.imagem-lampada{
    width: 5vw;
}

.container-imagem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2em 2em ;
}

.linha{
    background-color: var(--cor-cabecalho);
    margin: 0 15em;
    padding: 0.1em 0;
    border-radius: 1.5em;
}

.container-paragrafo{
    text-align: center;
    margin: 0 1.5em;
    font-family: 'roboto';
    text-align: center;
    color: var(--cor-cinza);
    font-weight: 500;

}

.imagem{
    height: 3em;
}

.imagem-container{
    height: 17vw;
}

.container-box{
    display: flex;
    align-items: center;
}

.container-lampadas{
    display: flex;
    gap: 1em;
}

.container-estrelinha{
    display: flex;
    align-items: center;
    gap: 1em;
}

.imagem-estrelinha{
   height: 1.9vw;
}

.container-saas{
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 1.5em 0em;
}

.imagem-saas{
    width: 13vw;
}

.container-estrelinha-paragrafo{
    font-family: 'roboto';
    color: var(--cor-cinza);
    font-weight: 500;
    
}


.section-dois{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 30em;
}

.section-tres{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.section-paragrafo-terciario{
    margin: 0 15em;
    padding: 0 10em;
    font-family: 'Poppins';
    color: var(--cor-cinza);
    font-size: 1.2em;

}

.section-subtitulo-terciario{
    font-family: 'Roboto';
    font-size: 2.3em;
    font-weight: 600;
    margin: 0.5em 0 ;
    text-align: center;
}
.container-apple{
    display: flex;
    flex: row;
    gap: 0.5em;
    margin-bottom: 2em;
}

.icone-apple{
    width: 5vw;
}

.container-planos{
    margin: 3em 0em ;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.imagem-planos{
    width: 16vw;
}

.container-depoimento{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2em;
    gap: 2em;
}


.icone-depoimento{
    width: 12vw;
}

.rodape{
    text-align: center;
}

.rodape-subtitulo{
    font-family: 'Roboto';
    font-size: 2.3em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.rodape-paragrafo{
    font-family: 'Poppins';
    color:var(--cor-cinza) ;
    font-size: 1.2em;
    margin-bottom: 2em;
}

@media screen and (max-width: 768px){


    .container-cabecalho{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2em;

    }

    .container-imagem-logo{
        margin: 0;
    }

    .container-lista{
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;

    }

    .container-lista-link{
        font-size: 0.8em;
        margin: 0em;
        text-align:center;
    }

    .lista-link-borda{
        padding: 0.3em;
    }


    .banner-titulo{
        margin: 0em;
        font-size: 2.5em;
    }

    .banner-descricao{
        font-size: 1.5em;
    }

    .banner{
        padding: 3em 1em; 
    }

    .section-dois{
        margin: 0;
    }

    .imagem-container{ 
        width: 55vw;
        height: 45vw;
        text-align: center;
        margin: 0 1em;
    }

    .container-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-saas{
        display: block;
    }

    .container-lampadas{
        display: block;
        flex-direction: column;
    }

    .imagem-lampada{
        width: 15vw;
    }

    .container-paragrafo{
        text-align: center;
        font-size: 0.9em ;
        margin: 0 3em;
    }

    .section-um-subtitulo{
        font-size: 2em;
        text-align: center;
        margin: 0 1em;
        padding: 0.5em;
    
        
    }

    .section-um-descricao{
        font-size: 1em;
        text-align: center;
        padding-bottom: 0.5em;
        
    }

    .section-um-paragrafo{
        font-size: 0.9em ;
        margin: 0 2em;
        padding: 0 1em;
        text-align: center;
    }

    .section-um-lorem{
        text-align: center;
        font-size: 0.9em ;
        margin: 0 2em;
        padding: 1em 2em
    }

    .section-subtitulo-secundario{
        font-size: 2em;
        text-align: center;
        margin: 0.5em 2em;
        
    }

    .section-paragrafo-secundario{
        font-size: 0.9em ;
        margin: 0 2em;
        padding: 0 1em;
    }

    .container-estrelinha-paragrafo{
        font-size: 0.9em ;
    }

    .container-estrelinha{
        gap: 0.5em;
    }

    .container-estrelinha-mod{
        display: flex;
        flex-direction: row-reverse;
    
    }

    .imagem-saas{
        width: 40vw;
        text-align: center;
        margin: 1em;
    }

    .imagem-estrelinha{
        width: 6vw;
        height: 6vw;
    }

    .linha{
        padding: 0.1em 2em;
        margin: 0 2em;
    }

    .section-subtitulo-terciario{
        font-size: 1.7em;
    }

    .section-paragrafo-terciario{
        font-size: 0.9em ;
        padding: 0 2em;
        margin: 0 1.5em;
    }

    .container-apple{
        display: flex;
        margin: 0 2em 1em 0 2em;
    }

    .icone-apple{
        width: 8vw;
    }

    .container-planos{
        display: flex;
        flex-direction: column;
        margin: 1em 1em;
        gap: 1em;
    }

    .imagem-planos{
        width: 50vw;
    }

    .container-depoimento{
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        gap: 1em;
    }

    .icone-depoimento{
        width: 50vw;
    }

    .rodape-subtitulo{
        font-size: 1.8em;
    }

    .rodape-paragrafo{
        font-size: 0.9em ;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1440px){
    .banner-titulo{
        margin: 0 2em;
    }


    .section-dois{
        margin: 0 15em;
    }

}

