
:root{
    --cor-preta: #000000;
    --cor-cinza: #88888A;
    --cor-vermelha: #D13E46;
    --cor-cabecalho: #E7E7E9;
    --cor-branca: #FFFFFF;
}


.cabecalho{
    background-color: var(--cor-cabecalho);
    padding: 0;
}

.container-cabecalho{
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-align: center;
    
}

.container-lista{
    padding-top: 0.5em;
}

.container-imagem-logo{
    margin-left: 2em;
    padding-top: 0.5em;
}

.container-lista{
    display: flex;
    justify-content: end;
    gap: 3em;
}

.container-lista-link{
    text-decoration: none;
    margin: 1em;
    font-family: 'Roboto';
    color: var(--cor-cinza);
    font-weight: 800;

}

.lista-link{
    padding: 0.3em 0 0 0;
}

.lista-link-borda{
    background-color: var(--cor-cinza);
    color: var(--cor-branca);
    border-radius: 5px;
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding: 0.3em;
}

.banner{
    background-color: var(--cor-cabecalho);
    padding: 1.5em;
    text-align: center;
}


.banner-titulo{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 3.5em;
    padding-top: 0.5em;
    margin: 0em 9em;

}   

.banner-descricao{
    font-family: 'Roboto';
    font-weight: bold;
    padding-top: 0.5em;
    padding-bottom: 1em;
    font-size: 1.5em;
}

.banner-link{
    text-decoration: none;
    font-family:'Roboto';
    background-color: var(--cor-vermelha);
    color: var(--cor-branca) ;
    border-radius: 0.5em;
    padding: 0.5em 1.5em;
    
}

.section-um-subtitulo{
    font-family: 'Roboto';
    font-size: 3em;
    font-weight: 600;
    
}

.section-um-descricao{
    font-family: 'Poppins';
    font-size: 2em;
    color: var(--cor-cinza);
    font-weight: 800;
}

.section-um-paragrafo{
    font-family: 'Poppins';
    color:var(--cor-cinza) ;
    font-weight: 500;
    font-size: 1.2em;
    padding-top: 0.5em;
    
}


.section-um-lorem{
    font-family: 'roboto';
    text-align: center;
    padding-bottom: 2em;
    color: var(--cor-cinza);
    font-size: 1.1em;
    margin-right: 20em;
    
}

.imagem{
    height: 3em;
}

.imagem-container{
    height: 20em;
}

.container-box{
    display: flex;
    align-items: center;
}

.container-lampadas{
    display: flex;
    gap: 2em;
}

.container-estrelinha{
    display: flex;
    align-items: center;
}

.imagem-estrelinha{
    height: 2.5em;
}

.container-saas{
    display: flex;
    align-items: center;
}

.section-dois{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-tres{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.container-apple{
    display: flex;
    flex: row;
    gap: 0.5em;
}

.rodape{
    text-align: center;
}

